@charset "UTF-8";

ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid #f89595;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    transition: all .4s ease-in;
}

ul#album-fotos li span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, .3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

ul#album-fotos li:hover {
    transform: scale(1.5);
}

ul#album-fotos li:hover span {
    opacity: 1;
}

ul#album-fotos li#bolo {
    background: url('../_imagens/bolo.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;

}
ul#album-fotos li#bolo:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#cupcake {
    background: url('../_imagens/cupcake.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album-fotos li#cupcake:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#brigadeiros {
    background: url('../_imagens/brigadeiros.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album-fotos li#brigadeiros:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#pastel {
    background: url('../_imagens/pastel.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album-fotos li#pastel:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#bombom-recheado {
    background: url('../_imagens/bombom-recheado.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album-fotos li#bombom-recheado:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#brownie {
    background: url('../_imagens/brownie.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
ul#album-fotos li#brownie:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}